body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:100px;
}
#u10250 {
  position:absolute;
  left:676px;
  top:0px;
  width:424px;
  height:100px;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
  line-height:36px;
}
#u10251 {
  position:absolute;
  left:2px;
  top:32px;
  width:402px;
  word-wrap:break-word;
}
#u10252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:80px;
}
#u10252 {
  position:absolute;
  left:0px;
  top:130px;
  width:1100px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u10253 {
  position:absolute;
  left:20px;
  top:12px;
  width:1078px;
  word-wrap:break-word;
}
#u10254 {
  position:absolute;
  left:46px;
  top:304px;
  width:250px;
  height:30px;
}
#u10254_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10255 {
  position:absolute;
  left:46px;
  top:344px;
  width:250px;
  height:30px;
}
#u10255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u10255_input:disabled {
  color:grayText;
}
#u10256 {
  position:absolute;
  left:46px;
  top:408px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u10257 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10256_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u10258 {
  position:absolute;
  left:46px;
  top:441px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u10259 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10258_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10260 {
  position:absolute;
  left:382px;
  top:304px;
  width:245px;
  height:170px;
}
#u10260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u10261 {
  position:absolute;
  left:680px;
  top:304px;
  width:372px;
  height:170px;
}
#u10261_input {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10262 {
  position:absolute;
  left:136px;
  top:408px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u10263 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10262_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u10264 {
  position:absolute;
  left:226px;
  top:408px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u10265 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10264_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u10266 {
  position:absolute;
  left:136px;
  top:441px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u10267 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10266_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10268 {
  position:absolute;
  left:226px;
  top:441px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u10269 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10268_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
}
#u10270 {
  position:absolute;
  left:20px;
  top:230px;
  width:530px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10271 {
  position:absolute;
  left:2px;
  top:11px;
  width:526px;
  word-wrap:break-word;
}
#u10272 {
  position:absolute;
  left:43px;
  top:583px;
  width:210px;
  height:170px;
}
#u10272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u10273 {
  position:absolute;
  left:295px;
  top:583px;
  width:210px;
  height:170px;
}
#u10273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u10274 {
  position:absolute;
  left:602px;
  top:583px;
  width:170px;
  height:170px;
}
#u10274_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u10275 {
  position:absolute;
  left:870px;
  top:583px;
  width:182px;
  height:170px;
}
#u10275_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u10276 {
  position:absolute;
  left:790px;
  top:627px;
  width:60px;
  height:25px;
}
#u10276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u10277 {
  position:absolute;
  left:790px;
  top:662px;
  width:60px;
  height:25px;
}
#u10277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u10278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:50px;
}
#u10278 {
  position:absolute;
  left:20px;
  top:787px;
  width:1060px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10279 {
  position:absolute;
  left:2px;
  top:11px;
  width:1056px;
  word-wrap:break-word;
}
#u10280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
}
#u10280 {
  position:absolute;
  left:20px;
  top:507px;
  width:530px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10281 {
  position:absolute;
  left:2px;
  top:11px;
  width:526px;
  word-wrap:break-word;
}
#u10282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
}
#u10282 {
  position:absolute;
  left:550px;
  top:508px;
  width:530px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10283 {
  position:absolute;
  left:2px;
  top:11px;
  width:526px;
  word-wrap:break-word;
}
#u10284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:240px;
}
#u10284 {
  position:absolute;
  left:46px;
  top:853px;
  width:100px;
  height:240px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u10284_img.selected {
}
#u10284.selected {
}
#u10285 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u10286 {
  position:absolute;
  left:156px;
  top:862px;
  width:250px;
  height:30px;
}
#u10286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10287 {
  position:absolute;
  left:156px;
  top:902px;
  width:250px;
  height:30px;
}
#u10287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10288 {
  position:absolute;
  left:156px;
  top:942px;
  width:250px;
  height:30px;
}
#u10288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10289 {
  position:absolute;
  left:156px;
  top:982px;
  width:250px;
  height:30px;
}
#u10289_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10290 {
  position:absolute;
  left:156px;
  top:1022px;
  width:250px;
  height:30px;
}
#u10290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u10291 {
  position:absolute;
  left:156px;
  top:1075px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u10291_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u10291.mouseOver {
  opacity:0.8;
}
#u10291_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u10291.mouseDown {
  opacity:1;
}
#u10292 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u10293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:240px;
}
#u10293 {
  position:absolute;
  left:602px;
  top:853px;
  width:100px;
  height:240px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u10293_img.selected {
}
#u10293.selected {
}
#u10294 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u10295 {
  position:absolute;
  left:712px;
  top:862px;
  width:250px;
  height:30px;
}
#u10295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u10296 {
  position:absolute;
  left:712px;
  top:1075px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u10296_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u10296.mouseOver {
  opacity:0.8;
}
#u10296_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u10296.mouseDown {
  opacity:1;
}
#u10297 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u10298 {
  position:absolute;
  left:712px;
  top:1029px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u10299 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10298_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10300 {
  position:absolute;
  left:802px;
  top:1029px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u10301 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10300_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10302 {
  position:absolute;
  left:892px;
  top:1029px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u10303 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10302_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10304 {
  position:absolute;
  left:712px;
  top:902px;
  width:250px;
  height:30px;
}
#u10304_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u10304_input:disabled {
  color:grayText;
}
#u10305 {
  position:absolute;
  left:712px;
  top:990px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u10306 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10305_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u10307 {
  position:absolute;
  left:770px;
  top:990px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u10308 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10307_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u10309 {
  position:absolute;
  left:826px;
  top:990px;
  width:56px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u10310 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u10309_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u10311 {
  position:absolute;
  left:712px;
  top:942px;
  width:108px;
  height:25px;
}
#u10311_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:25px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u10312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:27px;
}
#u10312 {
  position:absolute;
  left:830px;
  top:940px;
  width:178px;
  height:27px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u10313 {
  position:absolute;
  left:2px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u10314 {
  position:absolute;
  left:882px;
  top:990px;
  width:56px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u10315 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u10314_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
