body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:100px;
}
#u8260 {
  position:absolute;
  left:676px;
  top:0px;
  width:424px;
  height:100px;
  font-size:28px;
  color:#FFFFFF;
  text-align:right;
  line-height:36px;
}
#u8261 {
  position:absolute;
  left:2px;
  top:32px;
  width:402px;
  word-wrap:break-word;
}
#u8262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:80px;
}
#u8262 {
  position:absolute;
  left:0px;
  top:130px;
  width:1100px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u8263 {
  position:absolute;
  left:20px;
  top:12px;
  width:1078px;
  word-wrap:break-word;
}
#u8264 {
  position:absolute;
  left:46px;
  top:304px;
  width:250px;
  height:30px;
}
#u8264_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8265 {
  position:absolute;
  left:46px;
  top:344px;
  width:250px;
  height:30px;
}
#u8265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u8265_input:disabled {
  color:grayText;
}
#u8266 {
  position:absolute;
  left:46px;
  top:408px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8267 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8266_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u8268 {
  position:absolute;
  left:46px;
  top:441px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u8269 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8268_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8270 {
  position:absolute;
  left:382px;
  top:304px;
  width:245px;
  height:170px;
}
#u8270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u8271 {
  position:absolute;
  left:680px;
  top:304px;
  width:372px;
  height:170px;
}
#u8271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8272 {
  position:absolute;
  left:136px;
  top:408px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8273 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8272_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u8274 {
  position:absolute;
  left:226px;
  top:408px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8275 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8274_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u8276 {
  position:absolute;
  left:136px;
  top:441px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u8277 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8276_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8278 {
  position:absolute;
  left:226px;
  top:441px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u8279 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8278_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
}
#u8280 {
  position:absolute;
  left:20px;
  top:230px;
  width:530px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u8281 {
  position:absolute;
  left:2px;
  top:11px;
  width:526px;
  word-wrap:break-word;
}
#u8282 {
  position:absolute;
  left:43px;
  top:583px;
  width:210px;
  height:170px;
}
#u8282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u8283 {
  position:absolute;
  left:295px;
  top:583px;
  width:210px;
  height:170px;
}
#u8283_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u8284 {
  position:absolute;
  left:602px;
  top:583px;
  width:170px;
  height:170px;
}
#u8284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u8285 {
  position:absolute;
  left:870px;
  top:583px;
  width:182px;
  height:170px;
}
#u8285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u8286 {
  position:absolute;
  left:790px;
  top:627px;
  width:60px;
  height:25px;
}
#u8286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u8287 {
  position:absolute;
  left:790px;
  top:662px;
  width:60px;
  height:25px;
}
#u8287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u8288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:50px;
}
#u8288 {
  position:absolute;
  left:20px;
  top:787px;
  width:1060px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u8289 {
  position:absolute;
  left:2px;
  top:11px;
  width:1056px;
  word-wrap:break-word;
}
#u8290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
}
#u8290 {
  position:absolute;
  left:20px;
  top:507px;
  width:530px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u8291 {
  position:absolute;
  left:2px;
  top:11px;
  width:526px;
  word-wrap:break-word;
}
#u8292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:50px;
}
#u8292 {
  position:absolute;
  left:550px;
  top:508px;
  width:530px;
  height:50px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u8293 {
  position:absolute;
  left:2px;
  top:11px;
  width:526px;
  word-wrap:break-word;
}
#u8294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:240px;
}
#u8294 {
  position:absolute;
  left:46px;
  top:853px;
  width:100px;
  height:240px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u8294_img.selected {
}
#u8294.selected {
}
#u8295 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u8296 {
  position:absolute;
  left:156px;
  top:862px;
  width:250px;
  height:30px;
}
#u8296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8297 {
  position:absolute;
  left:156px;
  top:902px;
  width:250px;
  height:30px;
}
#u8297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8298 {
  position:absolute;
  left:156px;
  top:942px;
  width:250px;
  height:30px;
}
#u8298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8299 {
  position:absolute;
  left:156px;
  top:982px;
  width:250px;
  height:30px;
}
#u8299_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8300 {
  position:absolute;
  left:156px;
  top:1022px;
  width:250px;
  height:30px;
}
#u8300_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u8301 {
  position:absolute;
  left:156px;
  top:1075px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u8301_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u8301.mouseOver {
  opacity:0.8;
}
#u8301_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u8301.mouseDown {
  opacity:1;
}
#u8302 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u8303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:240px;
}
#u8303 {
  position:absolute;
  left:602px;
  top:853px;
  width:100px;
  height:240px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:40px;
}
#u8303_img.selected {
}
#u8303.selected {
}
#u8304 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u8305 {
  position:absolute;
  left:712px;
  top:862px;
  width:250px;
  height:30px;
}
#u8305_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u8306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u8306 {
  position:absolute;
  left:712px;
  top:1075px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u8306_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u8306.mouseOver {
  opacity:0.8;
}
#u8306_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#FFFFFF;
}
#u8306.mouseDown {
  opacity:1;
}
#u8307 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u8308 {
  position:absolute;
  left:712px;
  top:1029px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u8309 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8308_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8310 {
  position:absolute;
  left:802px;
  top:1029px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u8311 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8310_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8312 {
  position:absolute;
  left:892px;
  top:1029px;
  width:80px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u8313 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8312_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8314 {
  position:absolute;
  left:712px;
  top:902px;
  width:250px;
  height:30px;
}
#u8314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u8314_input:disabled {
  color:grayText;
}
#u8315 {
  position:absolute;
  left:712px;
  top:990px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8316 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8315_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u8317 {
  position:absolute;
  left:770px;
  top:990px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8318 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8317_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u8319 {
  position:absolute;
  left:826px;
  top:990px;
  width:56px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8320 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u8319_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u8321 {
  position:absolute;
  left:712px;
  top:942px;
  width:108px;
  height:25px;
}
#u8321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:25px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u8322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:27px;
}
#u8322 {
  position:absolute;
  left:830px;
  top:940px;
  width:178px;
  height:27px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u8323 {
  position:absolute;
  left:2px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u8324 {
  position:absolute;
  left:882px;
  top:990px;
  width:56px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8325 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u8324_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
